# Ignore all large data files

ec2_group_2_combined_2_11_22.csv           
irs-990-ez-soi-extract-2017.csv          
irs-990-ez-soi-extract-2018.xlsx          
irs-990-ez-soi-extract-2019.csv           
irs-990-ez-soi-extract-2019.xlsx
irs-990-ez-soi-extract-2020.xlsx         
irs-990-pc-soi-extract-2017.csv
irs-990-pc-soi-extract-2018.xlsx         
irs-990-pc-soi-extract-2019.csv
irs-990-pc-soi-extract-2019.xlsx         
irs-990-pc-soi-extract-2020.xlsx

nccs-bmf-2019.csv
                       
org-sample.xls  

data-step-00-wrangling_cache/

.Rhistory

Finalized Master List 4.8.2022.xls

render-site.R

EFILE/TEMP/

index.rds
